<button type="button" class="btn btn-success">
  <%= link_to "Edit This Task", edit_task_path(@task) %>
</button>
<h1>Your list item:</h1>
<ul>
  <li><%= @task.title %></li>
  <li><%= @task.details %></li>
  <li>
    <% if @task.completed == true %>
      <%= "This task is complete (replace with icons later)" %>
    <% else %>
      <%= "Task not completed (replace with icons later)" %>
    <% end %>
  </li>
</ul>
<%= link_to 'Delete', task_path(@task), class: 'btn btn-danger', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }  %>
